{% extends 'base.html.twig' %}

{% block title %}Se connecter -La boutiQue Française{% endblock %}

{% block content %}
<h2>Nous contacter</h2>
<p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
<div class="row">
    <div class="col-md-8">{{ form(form) }}</div>
    <div class="col-md-4">
        <strong>la Boutique Française</strong>
        <hr>
        0755029240<br>
        26 boulevard volney , 35700 Rennes.<br>
        contact@laboutiquefrancaise.com  <br>
    </div>
</div>
{% endblock %}
